<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Who's Your Leader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Who's Your Leader</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <br>
    <div class = "row">
        <h2> List of Candidate </h2>
    </div>
    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" >Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

<!--                        <a class="nav-link active" aria-current="page" href="#">Home</a>-->
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown link
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" >Action</a>
                                <a class="dropdown-item">Another action</a>
                                <a class="dropdown-item">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
<!--            <th scope="col">Id</th>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Category</th>-->
<!--            <th scope="col">date Issued</th>-->
<!--            <th scope="col">Issued Period</th>-->
<!--            <th scope="col">Issuer Name</th>-->
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="book: ${books}">-->
<!--            <td th:text = "${book.bookId}"></td>-->
<!--            <td th:text = "${book.bookName}"></td>-->
<!--            <td th:text = "${book.bookCategory}"></td>-->
<!--            <td th:text = "${book.dateIssued}"></td>-->
<!--            <td th:text = "${book.issuedPeriod}"></td>-->
<!--            <td th:text = "${book.pid}"></td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>
</body>
</html>